* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #116396;
}

body h1 {
    text-align: center;
    color: lightgreen;
}

body h2 {
    text-align: center;
    color:lightgreen;
}

.border {
    border-right: 1px solid black;
}

.container {
    width: fit-content;
    margin: 60px auto;
    padding: 10px;
}

.display {
    
    background-color: azure;
    height: 45vh;
    margin: 0 9rem;
    margin: 50px auto;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
}

.display h2 {
    background: #116396;
    text-align: center;
    padding: 5px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.display p {
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size: 23px;
}

.display h2 span {
    font-size: 26px;
    color: #9beefb;
}

.display p span {
    color: #f4780d;
    font-size: 25px;
}

#forecast-container {
    background: lightblue;
    background-color: azure;
    width:fit-content;
    height:fit-content;
    justify-content: space-evenly;
    display:flex;
    flex-direction: row;
}

.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}

.inputs input[type="text"] {
    background: #212121;
    background-color: transparent;
    font-size:medium;
    width: 20rem;
    height: 4rem;
    padding: 15px;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 4px;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

.output {
    justify-content: space-between;
    color: lightgrey;
    width: auto;
    text-align: center;
}